<div style="
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda a altura da tela */
  text-align: center;
">
  <!-- Imagem do museu -->
  <img src="<%= asset_path('museu.png') %>" alt="Museu" style="max-width: 100px; height: 100px;">

  <h1 style="color: #D62839;">Seja bem-vindo(a) ao painel administrativo do Visit Track!</h1>
  <p>Navegue pelos itens no menu</p>
</div>
